.business-main{
	margin-top: 10px;
	overflow: hidden;
}
.business-main ul{
	overflow: hidden;
}
.business-main ul li{
	 padding:10px 20px;
	 background-color: #FFFFFF;
	 border-bottom: 1px solid #ECECEC;
	 border-top: 1px solid #ECECEC;
	 margin-top: -1px;
	 line-height: 32px;
	 overflow: hidden;
}
.business-main ul li p{
	font-size: 14px;
	font-weight: 500;
	color: #666666;
}
.business-main ul li p span{
	color: #00A4A6;
	 margin:0 10px;
	 font-weight: 500;
	 font-size: 16px;
}
.business-main ul li em{
	 border-left: 2px solid #DDDDDD;
	 height: 14px;
	 float: left;
	 margin-top: 10px;
	 margin-right: 10px;
}
.business-main ul li input{
	float: left;
	line-height: 32px;
	font-size: 14px;
}
.business-main ul li a{
	overflow: hidden;
	font-size: 14px;
}
.business-main ul li .classifi{
	float: left;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.classifi select{
	width: 120%;
	height: 32px;
	font-size: 14px;
	color: #666666;
	overflow: hidden;
}
.business-main ul li option{
}
.classifi .point-cion{
	position: absolute;
	right: 0px;
	top: 10px;
	z-index: 1;
	width: 16px;
	height: 16px;
	display: block;
	color: #999999;
	float: right;
	font-family: Muiicons;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    line-height:16px;
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}
.classifi .point-cion:before{
	    content: '\e583';
}
.determine{
	width: 80%;
	margin: auto;
	margin-top: 15px;
}
.determine a{
	display: block;
	line-height: 44px;
	text-align: center;
	width: 100%;
	height: 44px;
	font-size: 16px;
	background-color: #00A4A6;
	color: #FFFFFF;
	border-radius: 5px;
}
.determine button{
	display: block;
	width: 100%;
	height: 44px;
	font-size: 16px;
	background-color: #00A4A6;
	color: #FFFFFF;
	border-radius: 5px;
}

/*弹窗*/
.Popup{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99;
}
.Popup-bg{
	 position: absolute;
	 width: 100%;
	 min-height:100%;
	 height:100% ;
	 background-color: #000000;
	 opacity: 0.3;
	 top: 0;
	 left: 0;
	 z-index: 100;
}
.Popup-box{
	 width: 80%;
	 margin: auto;
	 min-height: 10%;
	 background-color: #FFFFFF;
	 z-index: 101;
	 position: absolute;
	 margin-left: -40%;
	 left: 50%;
	 top: 20%;
	 box-shadow: 0 1px 6px #CCCCCC;;
}
/*确认弹窗*/
/*确认弹窗*/
.inf-box{
    padding: 20px;
}
.inf-dete{
    background-color: #f7f7f7;
    padding: 10px;
}
.inf-dete p{
    line-height: 24px;
    font-size: 14px;
    color: #999999;
}
.inf-dete p.inf-name span{
    margin-left: 10px;
    color: #333333;
    font-size: 14px;
}
.inf-dete p.inf-tel span{
    margin-left: 10px;
    color: #333333;
    font-size: 14px;
}
.inf-dete p.inf-number span{
    margin:0 10px;
    color: #00A4A6;
    font-size: 16px;
}
.remind{
    line-height: 36px;
    font-size: 12px;
    margin-left: 10px;
    color: red;
}
.inf-inf{
    overflow: hidden;
    width: 100%;
    border-radius: 5px;
}
.inf-inf button{
    width: 50%;
    float: left;
    height: 44px;
    background-color: #eaeaea;
    color: #999999;
    font-size: 16px;
}
.inf-inf button.inf-yes{
    background-color: #00A4A6;
    color: #FFFFFF;
}
/*买积分弹窗*/
.Popup2{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.Popup2-bg{
     position: absolute;
     width: 100%;
     min-height:100%;
     height:100% ;
     background-color: #000000;
     opacity: 0.3;
     top: 0;
     left: 0;
     z-index: 100;
}
.Popup2-box{
     width: 60%;
     margin: auto;
     min-height: 10%;
     background-color: #FFFFFF;
     z-index: 101;
     position: absolute;
     margin-left: -30%;
     left: 50%;
     top: 20%;
     box-shadow: 0 1px 6px #CCCCCC;;
}
.prompt{
    line-height: 72px;
    text-align: center;
    color: #666666;
}
.buy-inf{
    width: 100%;
    overflow: hidden;
}
.buy-inf button{
    width: 50%;
    float: left;
    height: 44px;
    background-color: #EAEAEA;
    color: #999999;
    font-size: 16px;
}
.buy-inf button.buy-yes{
     background-color: #00A4A6;
     color: #FFFFFF;
}


/*弹窗*/
.Withdrawals{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99;
}
.withdra-bg{
	 position: absolute;
	 width: 100%;
	 min-height:100%;
	 height:100% ;
	 background-color: #000000;
	 opacity: 0.3;
	 top: 0;
	 left: 0;
	 z-index: 100;
}
.withdra-box{
	 width: 80%;
	 margin: auto;
	 min-height: 10%;
	 background-color: #FFFFFF;
	 z-index: 101;
	 position: absolute;
	 margin-left: -40%;
	 left: 50%;
	 top: 20%;
	 box-shadow: 0 1px 6px #CCCCCC;
	 border-radius: 5px;
	 overflow: hidden;
}

.pop-operation{
	overflow: hidden;
	border-radius: 5px;
	width: 70%;
	margin:auto;
	margin-bottom: 20px;
}
.pop-operation button{
	width: 50%;
	float: left;
	height: 32px;
	background-color: #00A4A6;
	color: #FFFFFF; 
	cursor: pointer;
}
.pop-operation button:first-child{
	 background-color: #eaeaea;
	 color: #999999;
}
.pop-operation button:hover{
	background-color: #09C9CC;
	color: #FFFFFF;
}
.thaw-inf{
	padding: 20px;
}
.thaw-news{
	padding: 10px;
	background-color: #f1f2f6;
}
.thaw-news p{
	line-height: 24px;
	overflow: hidden;
	color: #999999;
}
.thaw-news p span{
	margin-left: 10px;
}
.thaw-news p span.thaw-number{
	color: #00A4A6;
}
.thaw-news p time{
	margin-left: 10px;
	color: #999999;
}
.impot{
	margin-top: 10px;
	font-size: 12px;
	color: red;
}

