.Line-order{
	overflow: hidden;
}
.line-list{
	padding: 10px;
	background-color: #FFFFFF;
	overflow: hidden;
	margin-bottom: 10px;
}
.list-number{
	overflow: hidden;
	margin-bottom: 20px;
}
.list-text{
	overflow: hidden;
	line-height: 24px;
}
.last{
	float: left;
	width: 50%;
	text-align: right;
}
.last span{
	margin: 0 5px;
}
.first{
	float: left;
	width: 50%;
}
.list-text .first .one{
	width: 50%;
	float: left;
}
.next{
	overflow: hidden;
	float: left;
	width: 50%;
}
.next span{
	margin-right: 5px;
}
