/*找回密码*/
.password-Back{
	margin-top: 15px;
}
.password-Back li{
	padding-left: 10px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #ECECEC;
	border-top: 1px solid #ECECEC;
	margin-top: -1px;
	height: 50px;
}
.password-Back li label{
	line-height: 50px;
	font-size: 14px;
	color: #666666;
	float: left;
	width: 20%;
}
.password-Back li input{
	 line-height: 50px;
	 float: left;
}
.password-Back li.password-input input{
	 width: 80%;
}
.password-Back li.password-code input{
	 width: 50%;
}
.password-Back li.password-code span{
	float: right;
	width: 30%;
	height: 50px;
}
.password-Back li.password-code span img{
	width: 100%;
	height: 50px;
	display: block;
	border: none;
	margin: 0;
}
.password-Back li.password-code a{
	float: right;
	width: 30%;
	height: 50px; 
	line-height: 50px;
	background-color: #00A4A6;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
}
.password-next{
	 width: 80%;
	 margin: auto;
	 margin-top: 20px;
}
.password-next a{
	display: block ;
	line-height: 50px;
	text-align: center;
	width: 100%;
	height: 50px;
	background-color: #00A4A6;
	color: #FFFFFF;
	font-size: 16px;
	border-radius: 5px;
}
.password-next button{
	display: block ;
	line-height: 50px;
	text-align: center;
	width: 100%;
	height: 50px;
	background-color: #00A4A6;
	color: #FFFFFF;
	font-size: 16px;
	border-radius: 5px;
}
.password-up{
	 width: 80%;
	 margin: auto;
	 margin-top: 20px;
}
.password-up a{ 
	display:block;
	width: 100%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: #ECECEC;
	color: #CCCCCC;
	font-size: 16px;
	border-radius: 5px;
}
.password-up a:hover{
	display:block;
	line-height: 50px;
	text-align: center;
	background-color: #00A4A6;
	color: #FFFFFF;
}
/**/