.d_header{
	height: 8.8rem;
	background-color: #efeff4;
	position: relative;
	
}
.d_header a{
	color: #333 !important;
	position: absolute;
	height: 8.8rem;
	width:11rem;
	left: 3rem;
	z-index: 1;
}
.p1{
	
	height: 8.8rem;
	width:11rem;
	/*left: 0.3rem;*/
	line-height: 8.8rem;
	font-size: 3.4rem;
	color: #333;
	/*font-family: Microsoft YaHei;*/
}
.p1 img{
	vertical-align: middle;
	height: 3.7rem;
	width: 2rem;
}
.p2{
	text-align: center;
	line-height: 8.8rem;
	font-size: 3.4rem;
	color: #333;
	/*font-family: Microsoft YaHei;*/
	position: relative;
	height: 8.8rem;
	width: 100%;
}
.d_header span{
	position: absolute;
	right: 3rem;
	height: 8.8rem;
	width:11rem;
	z-index: 1;
	top: 0;
	font-size: 3.4rem;
	color: #333;
	text-align: right;
	background-color: #f0f0f0;
	line-height: 8.8rem;
}
.head{
	position: fixed;
	height: 8.8rem;
	width: 100%;
	top: 0;
	right: 0;
}
.xy{
	margin-top: 10rem;
	/*border-top: 1px solid red;*/
	margin-left: 3rem;
	margin-right: 3rem;
	margin-bottom: 3rem;
}
.h1{
	font-size: 3rem;
	line-height: 4rem;
	color: #333;
	text-align: center;
	margin-bottom: 2rem;
}
.h2{
	font-size: 2.6rem;
	line-height: 4rem;
	color: #333;
	/*text-align: center;*/
	margin: 2rem 0;
}
.h3{
	font-size: 1.8rem;
	line-height: 4rem;
	color: #666;
	/*text-align: center;*/
}