.go-header{
	width: 100%;
	height: 8.8rem;
	background-color: #ebebeb;
	border: 1px solid #d5d5d5;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}
.go-wp{
	width: 100%;
	margin-top: 9.5rem;
}
.go-a{
	width:2.4rem;
	position: absolute;
	left: 3.0rem;
	top: 2.2rem;
}
.go-b{
	width:4.2rem;
	position: absolute;
	right: 3.0rem;
	top: 2.5rem;
}
.go-good{
	width: 30%;
    margin: 3.7rem auto 0;
    text-align: center;
    display: box;
    display: flex;
    justify-content: space-between;
}
.go-good li{
	height: 5.0rem;
	display: inline-block;
	font-size: 3.4rem;
	font-weight: bold;
	color: #999;
}
.go-middle{
	height: 80.5rem;
	width: 100%;
	text-align: center;
	margin-top: 2.0rem;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}
.go-middle p img{
	width: 100%;
}
.go-middle p span{
	line-height: 6.0rem;
}
.go-detail{
	font-size: 3.0rem;
	margin:3.6rem 0 3.0rem 30.5rem;
}
.good-detail{
	width: 100%;
	height: 32.8rem;
}
.go-left{
	width: 25.6rem;
	margin-left:1.0rem;
}
.go-right{
	width: 45%;
	display: inline-block;
	position: relative;
	left: 3.6rem;
	top: -5.0rem;
}
.go-right li{
	font-size:2.4rem;
	color: #666;
	line-height:3.8rem;
}
.go-bank{
	width: 100%;
	height:9.6rem;
	/*background-color: #f1f1f1;*/
}
.swiper-slide{
	width: 100%;
	text-align: center;
}
.swiper-slide img{
	/*width: 100%;*/
	height: 62.0rem;
}
.good-desc,.good-desc1,.good-price{
	width:76.5%;
	line-height: 3.5rem;
	margin: 0.8rem 0 0 3.0rem;
}
.good-price{
	width: 60%;
	margin-bottom: 2.0rem;
	position: relative;
}
.good-price span{
	position: absolute;
	left: 45%;
	top: 0;
	font-size: 2.0rem;
	color: #d81e05;
}
.good-desc{
	font-size:3.0rem;
}
.good-desc1{
	font-size:2.4rem;
	color: #d81e05;
	margin-top:2.2rem;
}
.good-price{
	font-size:3.0rem;
	color: #d81e05;
	margin-top: 3.2rem;
}

.good-buy{
	width: 92.0%;
	margin: 4.4rem auto 0rem;
	display: flex;
	justify-content: space-between;
}
.good-buy li{
	font-size:2.4rem;
	margin-bottom: 2.3rem;
}
.good-buy li:nth-child(3){
	margin-top: -1.0rem;
}
.good-down{
	width:16.8%;
	height: 3.0rem;
	background-color: #ffc600;
	border-radius: 0.6rem;
	text-align: center;
	line-height:3.0rem;
}
.desc-bank{
	width: 100%;
	height: 9.9rem;
	/*background-color:#f1f1f1;*/
	/*position: relative;*/
}
.goods-d{
	width: 100%;
	height: 9.8rem;
}
.guige{
	overflow: hidden;
	height: 9.3rem;
	line-height: 9.3rem;
	border-top: 1.2rem solid #f1f1f1;
	border-bottom: 1.2rem solid #f1f1f1;
	font-size: 2.8rem;
/*	border: 1px solid #fff;*/
}
.sp_01{
	margin: 0 4.0rem 0 3.0rem;
	color: #999999;
}
.sp_02{
	color: #333333;
}
.more{
	float: right;
	width: 4.4rem;
	height: 9.2rem;
	margin:0 3.0rem 0 0 ;
}
.sp_03{
	float: right;
	width: 100%;
	margin:4.0rem 0 0 0 ;
}
/*更多选择弹出页面*/
.more_chose{
	position: fixed;
	bottom: 0.0rem;
	left: 0;
	height: 86.5rem;
	width: 100%;
	background: #FFFFFF;
	z-index: 101;	
	display: none;
}
.spbh{
	height: 14.1rem;
	border-bottom: 1px solid #efeffc;
	position: relative;
}
.spbh .lgd{
	position: absolute;
	width: 15.8rem;
	left: 2.1rem;
	top: -3.7rem;
}
.xie_money{
	color: #de1800;
	position: absolute;
	left: 22.8rem;
	top: 4.2rem;
	font-size: 2.4rem;
}
.bianhao{
	color: #989898;
	font-size: 2.4rem;
	position: absolute;
	top: 8.5rem;
	left: 22.8rem;
	line-height: 2.4rem;
}
.bianhao span{
	color: #666666;
}
.spbh .cuo{
	position: absolute;
	right: 3.0rem;
	top: 3.0rem;
	width: 6.0rem;
	height: 9.0rem;
	text-align: right;
}
.spbh .cuo img{
	width: 2.4rem;
}
.yanse,.chicun{
	font-size: 2.5rem;
	color: #666666;
	line-height: 4.0rem;
	margin: 0.9rem 0 0 2.7rem;
}
.xie_color,.xie_chicun{
	/*border: 1px solid red;*/
	width: 85%;
	height: 22.0rem;
	overflow: scroll;
}
.xie_color li,.xie_chicun li{
	height: 5.0rem;
	min-width: 20.0rem;
	padding: 0 1.5rem;
	line-height: 5.0rem;
	border: 1px solid #999999;
	text-align: center;
	border-radius: 0.4rem;
	font-size: 2.5rem;
	color: #999999;
	margin: 1.5rem 0 0 2.5rem;
	float: left;
}
.xie_color .active_li,.xie_chicun .active_li{
	border: 1px solid #de1800;
	color: #de1800;
}
.chicun{
	margin-top: 0.8rem;
}

.xie_chicun{
	padding-bottom: 0.6rem;
	border-bottom: 1px solid #efeffc;
}
.shuliang{
	position: relative;
}
.shuliang span{
	position: absolute;
	font-size: 2.5rem;
	color: #666666;
	top: 3.9rem;
	left: 2.7rem;
}
.shuliang .jia,.shuliang .num,.shuliang .jian{
	font-size: 2.4rem;
	width: 5.5rem;
	height: 5.5rem;
	border: 1px solid #333333;
	text-align: center;
	line-height: 5.5rem;
	box-sizing: border-box;
	position: absolute;
	top: 2.6rem;
	right: 16.7rem;
	border-bottom-left-radius: 0.4rem;
	border-top-left-radius: 0.4rem;
}
.more_chose .shuliang .jia{
	font-size: 3rem;
}
.shuliang .num{
	width: 7.9rem;
	height: 5.5rem;
	border: none;
	border-top: 0.1rem solid #333333;
	border-bottom: 0.1rem solid #333333;
	top: 2.6rem;
	right: 8.8rem;
	border-radius: 0rem;
}
.shuliang .jian{
	border-radius: 0;
	right: 3.3rem;
	border-bottom-right-radius: 0.4rem;
	border-top-right-radius: 0.4rem;
}
.jiaru,.jiaru1{
	position: absolute;
	bottom: 0;
	height: 8.8rem;
	line-height: 8.8rem;
	color: #FFFFFF;
	width: 100%;
	font-size: 3.0rem;
	background: #de1800;
}
.jiaru{
	text-align: center;
	
}
.jiaru11{
	display: inline-block;
	width: 49.3%;
	height: 10.0rem !important;
	background-color: #ffc600;
	text-align: center;
}
.jiaru12{
	display: inline-block;
	width: 49.3%;
	height: 10.0rem !important;
	background-color: #de1800;
	text-align: center;
}
.zscoll,.zscollz,.zscollw,.zscolly,.zscollc,.zscolls{
	width: 70%;
	height: 10.0rem;
	background:rgba(0,0,0,0.8);
	position: absolute;
	bottom: 20.0rem;
	left: 15%;
	font-size: 3.0rem;
	color: #fff;
	text-align: center;
	line-height: 10.0rem;
	border-radius: 1.0rem;
	z-index: 1000;
}
.zscolly,.zscollc,.zscolls{
	position: absolute;
	bottom: 40.0rem !important;
	left: 45%;
	z-index: 1000;
}
.z-colloct{
	color: #999;
}
.z-dp{
	color: #999 !important;
}
.zs-pays{
	width: 10.0rem;
	height: 10.0rem;
}
.go-middle div{
	width: 100%;
}
.go-middle div img{
	width: 100%;
}
.go-middle table tr td{
	font-size: 2.8rem;
	line-height: 4.5rem;
}
.go-middle div span{
	font-size: 3.0rem;
}
.go-middle div{
	font-size: 2.4rem !important;
	line-height: 4.5rem;
}
.go-middle p{
	font-size: 2.8rem;
	line-height: 5.0rem;
}
.go-middle table{
	width: 96% !important;
	border: 1px solid #999 !important;
	margin: 0 auto;
}
.go-middle table tbody{
	width: 96% !important;
}
.go-middle table tr{
	border: 1px dashed #999 !important;
}
/*.go-middle table tr:nth-child(9) td:nth-child(2){
	width: 50px !important;
	border: 1px solid #999999;
}*/
.go-middle table tr td{
	border: 1px dashed #999 !important;
}
.go-middle table tr td:nth-child(2){
	width: 3.0rem !important;
	border: 1px dashed #999 !important;
}
