.z-location-a {
	width: 100%;
	height: 8.8rem;
	background-color: #efeff4;
	position: relative;
}
.z-location-h {
	width: 92%;
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 1.4rem;
	left: 4%;
}
.z-location-b{
	width: 2.3rem;
	height: 4.2rem;
	margin-top: 1.0rem;
}
.z-location-c{
	/*width: 3.3rem;
	height: 4.5rem;*/
	margin-top: 2.5rem;
	font-size: 2.6rem;
	color: #666;
}
.z-location-input{
	width: 72.2%;
	height: 6.0rem;
	position: relative;
}
.z-location-input img{
	width: 3.3rem;
	position: absolute;
	left: 5.2%;
	top: 1.25rem;
}
.z-location-input input{
	width: 80.4%;
	height: 6.0rem;
	background-color: #fff;
	padding-left: 19.6%;
	color: #999;
	font-size: 2.6rem;
	/*font-weight: bold;*/
	border-radius: 1.5rem;
}
.z-hot-seach{
	width: 99.5%;
	height: 12.0rem;
	/*border: 1px solid red;*/
	overflow: hidden;
}
.z-hot-a{
	display: inline-block;
	font-size: 3.4rem;
	color: #333;
	/*margin-top: 5.0rem;*/
	/*position: relative;
	top: 5.2rem;
	left: 4.0%;*/
}
.z-hot-seach1{
	width:99.0rem;
	height: 12.0rem;
	margin-left: 4.0%;
	line-height: 9.0rem;
	/*border: 1px solid red;*/
	margin-top: 1.0rem;
}
/*.inner{
	width: 999999.0rem;
}*/
.z-hot-seach1 li{
	display: inline-block;
	/*width: 15.0rem;*/
	height: 4.5rem;
	background-color: #efeff4;
	font-size: 2.4rem;
	text-align: center;
	line-height: 4.5rem;
	color: #666;
	border-radius: 0.8rem;
	margin-left: 2.0rem;
	padding: 0 1.8rem;
}
.z-hot-seach1 li:nth-child(1){
	margin-left: 0;
}
.z-hot-blank{
	width: 100%;
	height: 2.0rem;
	background-color: #efeff4;
}
.z-hot-his{
	width: 96%;
	height: 9.0rem;
	/*border: 1px solid red;*/
	font-size: 3.2rem;
	color: #333;
	font-weight: bold;
	line-height: 9.0rem;
	padding-left: 4%;
	border-bottom:1px solid #efeff4;
}
.z-hot-record{
	width: 96%;
	height: 45.0rem;
	margin-left: 4.0%;
	overflow: hidden;
}
.z-hot-record li{
	font-size: 2.4rem;
	color: #666;
	width: 96%;
	height: 8.8rem;
	border-bottom: 1px solid #efeff4;
	line-height: 8.8rem;
}
.z-hot-remove{
	width: 88%;
	height: 9.8rem;
	background-color: #efeff4;
	border-radius: 1.0rem;
	margin: 7.2rem auto 0;
	text-align: center;
	line-height: 9.8rem;
}
.z-hot-remove img{
	width: 4.2rem;
	position: relative;
	top: 1.0rem;
	right: 3.0rem;
}
.z-hot-remove span{
	font-size: 3.2rem;
	font-weight: bold;
	color: #666;
}
.z-clear-his{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	position: absolute;
	top: 0;
	left: 0;
}
.z-clear-his1{
	width: 88%;
	height: 34.5rem;
	background-color: #fff;
	margin: 50.5rem auto 0;
	border-radius: 1.0rem;
}
.z-clear-his2{
	width: 100%;
	height: 25.7rem;
	/*border: 1px solid red;*/
	font-size: 3.4rem;
	color: #333;
	text-align: center;
	line-height: 26.0rem;
}
.z-clear-w{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.z-clear-q,.z-clear-d{
	display: inline-block;
	width: 50%;
	height:8.8rem;
	border-radius: 1.0rem;
	font-size: 3.2rem;
	text-align: center;
	line-height: 9.0rem;
}
.z-clear-q{
	background-color: #fff;
	border: 1px solid #efeff4;
}
.z-clear-d{
	background-color: #d81e05;
	color: #fff;
}
.z-tan{
	width: 45%;
	height: 10.0rem;
	background: rgba(0,0,0,0.8);
	border-radius: 1.0rem;
	color: #fff;
	font-size: 3.0rem;
	text-align: center;
	line-height: 10.0rem;
	margin: -48.0rem auto 0;
	display: none;
	
}
