.f-bar{
	width: 92.0%;
	/*height: 8.8rem;*/
	/*border: 1px solid red;*/
	position: fixed;
	top: 2.2rem;
	left: 3.9%;
	z-index: 100;
	/*margin: 0 auto;*/
}
.f-bills{
	position: absolute;
	left: 0;
	top: 0.5rem;
	width: 12rem;
	font-size: 3rem;
	color: #fff;
	line-height: 4rem;
}
.f-bill {
	width: 4rem;
	/*margin-left: 3.0rem;*/
	vertical-align: middle;
	margin-right: 1rem;
	}
.f-shop {
	font-size:3.4rem;
	color: #fff;
	}
.f-newss{
	position: absolute;
	right: 0;
	top: 0.5rem;
	margin-left: 1rem;
	color: #fff;
	font-size: 3rem;
	line-height: 3.4rem;
}
.f-news {
	width:4rem;
	/*margin-left: 22.8rem;*/
	vertical-align: middle;
	margin-left: 1rem;
	
	}
.f-si{
	width: 20.0%;
	/*height: 4.5rem;*/
	/*border: 1px solid red;*/
	margin: 1.7rem auto 0;
	}
.f-banner{
	width: 100%;
	height:37.0rem;
	/*background: url("../images/z-1.png") no-repeat;
	background-size:100% 100%;*/
	/*background-color: #3fd9bf;*/
	position: absolute;
	/*background-position: 100% 100%;*/
	background: url(../images/cfbj.png) 0 0 no-repeat;
	background-size: 100% 100%;
}
.f-middle{
	/*width: 100%;*/
	/*border: 1px solid red;*/
	margin: 12.5rem 3rem 0;
}
.f-score {
	font-size: 10rem;
	color:#fff;
	line-height: 12rem;
}
.f-use {
	font-size:2.8rem;
	color: #fff;
	/*margin-left: 2.8rem;*/
	line-height: 3rem;
	}
.f-bottom {
	width:50%;
	margin:4.0rem 0 0 0rem;
	/*border: 1px solid red;*/
	text-indent: 3rem;
	}
.f-bottoms {
	font-size: 2.4rem;
	color: #fff;
	}
.f-bottom-i {
	width: 2.8rem;
	vertical-align: middle;
    margin-top: -1rem;
	}
.f-bottomr {
	width:40%;
	margin:-3.2rem 0rem 0 54.5%;
	/*border: 1px solid red;*/
	text-align: right;
	}
.f-w {
	font-size: 2.6rem;
	color: #fff;
	}
.f-x {
	font-size: 2.4rem;
	color: #fff;
	}
	.f-point{
		width: 92%;
		height: 8.8rem;
		/*border: 1px solid red;*/
		position: absolute;
	    top: 42.5rem;
	    left:4%;
	}
	.f-point a{
		float: left;
		width: 22%;
		 margin-left: 3.0%;
	}
	.f-point li {
		width: 100%;
		/*height: 16.0rem;*/
	    display: inline-block;
	    /*margin-top: 42.5rem;*/
	    text-align: center;
	  
	    
	}
	.f-point a:nth-child(1){
		margin-left: 0;
	}
	.f-point li:nth-child(1){
		margin-left: 0;
	}
	.f-point li img {
	   width: 90%;
	}
	.f-point span {
	  display: inline-block;
	  font-size: 3.0rem;
	  color: #333333; 
	  position: relative;
	  top: 2.5rem;
	}
	
/*财富样式结束*/
/*结余积分界面样式开始*/
.cash-wp,.cash-p{
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.3);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1000;
	
}
.cash-b{
	width:84.3%;
	height:55.4rem;
	background-color: #fff;
	margin: 23.6rem auto 0;
	border: 1px solid #ccc;
	position: relative;
}
.cash-a,.cash-d{
	font-size:3.0rem;
	color: #333;
	position: absolute;
}
.cash-a{
	left: 3.0rem;
	top: 3.3rem;
}
.cash-e,.cash-c{
	width:57.0rem;
	font-size: 2.4rem;
	line-height: 3.8rem;
}
.cash-c{
	width:90%;
	/*border: 1px solid red;*/
	margin: 8.5rem auto 0;
	
}
.cash-d{
	top: 33.4rem;
	left: 3.0rem;
}
.cash-e{
	width: 90%;
	/*border: 1px solid red;*/
	margin: 12.4rem auto 0;
}
.cash-f{
	width: 100%;
	text-align: center;
	font-size: 3.0rem;
	margin-top:3.4rem;
}
.cash-g{
	width: 100%;
	text-align: center;
	font-size: 3.0rem;
	margin-top: 34.1rem;
}
.fokong{
	height: 9.8rem;
	width: 100%;
}
.footer{
	height: 9.8rem;
	width: 100%;
	position: fixed;
	bottom: 0;
	background-color: #fff;
}
.footer a{
	float: left;
	width: 20%;
	height: 9.8rem;
	text-align: center;
	line-height: 9.8rem;

}
.footer a img{
	vertical-align: middle;
	height: 7.2rem;
}