.d_header{
	height: 8.8rem;
	background-color: #f0f0f0;
	
}
.d_header a{
	color: #333 !important;
	position: absolute;
	height: 8.8rem;
	width:11rem;
	left: 3rem;
	z-index: 1;
}
.p1{
	
	height: 8.8rem;
	width:11rem;
	/*left: 0.3rem;*/
	line-height: 8.8rem;
	font-size: 2.8rem;
	color: #333;
	/*font-family: Microsoft YaHei;*/
}
.p1 img{
	vertical-align: middle;
	height: 3.7rem;
	width: 2rem;
}
.p2{
	text-align: center;
	line-height: 8.8rem;
	font-size: 3.2rem;
	color: #333;
	/*font-family: Microsoft YaHei;*/
	position: relative;
	height: 8.8rem;
	width: 100%;
}
body{
	background-color: #3a3a3a;
}
.codewrap{
	height: 79rem;
	margin: 1.8rem 3rem 0 3rem;
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
}
.codewrap .cwli1{
	height: 9.2rem;
	margin: 6rem 4rem 0;
}
.cwli1 p{
	float: left;
	height: 10rem;
}
.cwli1 p img{
	height: 10rem;
	width: 10rem;
}
.cwli1 .cwp2{
	margin-left: 3.5rem;
	line-height: 4.6rem;
	font-size: 2.6rem;
	color: #3a3a3a;
}
.cwli2{
	margin-top: 8rem;
	text-align: center;
}
.cwli2 img{
	width: 38.5rem;
	height: 38.5rem;
}