.d_header{
	height: 8.8rem;
	background-color: #efeff4;
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	
}
.d_header a{
	color: #333 !important;
	position: absolute;
	height: 8.8rem;
	width:11rem;
	left: 3rem;
	z-index: 1;
}
.p1{
	
	height: 8.8rem;
	width:11rem;
	/*left: 0.3rem;*/
	line-height: 8.8rem;
	font-size: 3.4rem;
	color: #333;
	/*font-family: Microsoft YaHei;*/
}
.p1 img{
	vertical-align: middle;
	height: 3.7rem;
	width: 2rem;
}
.p2{
	text-align: center;
	line-height: 8.8rem;
	font-size: 3.4rem;
	color: #333;
	/*font-family: Microsoft YaHei;*/
	position: relative;
	height: 8.8rem;
	width: 100%;
}
.d_header button{
	position: absolute;
	right: 3rem;
	height: 8.8rem;
	width:11rem;
	z-index: 1;
	top: 0;
	font-size: 3.4rem;
	color: #333;
	text-align: right;
	background-color: #f0f0f0;
}
.kong{
	height: 8.8rem;
}
ul{
	margin: 0 3rem;
	overflow: hidden;
}
ul li{
	width: 100%;
	height: 12.5rem;
	position: relative;
	border-bottom: 0.4rem solid #f1f1f1;
	text-align: left;
	font-size: 2.8rem;
	line-height: 6.5rem;
	color: #333;
}
.lisp{
	line-height: 5rem;
	font-size: 3.4rem;
	color: #000;
	vertical-align: middle;
}
ul li .up1{
	position: absolute;
	width: 100%;
	height: 6.5rem;
	text-align: right;
	font-size: 2.6rem;
	line-height:6.5rem;
	top: 0;
	left: 0;
	color: #666;
}
ul li .up1 span{
	color: #d81e05;
	font-size: 2.8rem;
}
ul li .up2{
	position: absolute;
	width: 100%;
	height: 5rem;
	text-align: right;
	font-size: 2.6rem;
	line-height:5rem;
	top: 6rem;
	left: 0;
	color: #666;
}