@import url(reset.css);
.full {
  width: 100%;
  height: 100%;
}
.html {
  font-size: 62.5%;
}
html,
body,
.wrap {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
header {
  height: 8.8rem;
  background-color: #f0f0f0;
  /*position: relative;*/
  width: 100%;
}
header a {
  color: #333 !important;
  position: absolute;
  height: 8.8rem;
  width: 11rem;
  left: 3rem;
  z-index: 1;
}
header .p1 {
  height: 8.8rem;
  width: 11rem;
  /*left: 0.3rem;*/
  line-height: 8.8rem;
  font-size: 3.4rem;
  color: #333;
  /*font-family: Microsoft YaHei;*/
}
header .p1 img {
  vertical-align: middle;
  height: 3.7rem;
  width: 2rem;
}
header .p2 {
  text-align: center;
  line-height: 8.8rem;
  font-size: 3.4rem;
  color: #333;
  /*font-family: Microsoft YaHei;*/
  position: relative;
  height: 8.8rem;
  width: 100%;
}
header .p2 button {
  position: absolute;
  right: 3rem;
  height: 8.8rem;
  width: 11rem;
  z-index: 1;
  top: 0;
  font-size: 3.4rem;
  color: #333;
  text-align: right;
  background-color: #f0f0f0;
}
section {
  -webkit-box-flex: 1 ;
  height: 26rem;
}
section .sec1 {
  height: 26rem;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  text-align: center;
  padding-top: 5.5rem;
  -webkit-box-sizing: border-box;
}
section .sec1 dl {
  width: 12rem;
  height: 17rem;
  -webkit-box-flex: 1 ;
}
section .sec1 dl dt img {
  width: 12rem;
  height: 12rem;
}
section .sec1 dl dd {
  font-size: 2.8rem;
  margin-top: 2rem;
}
section .sec2 {
  height: 26rem;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  text-align: center;
}
section .sec2 dl {
  width: 12rem;
  height: 17rem;
  -webkit-box-flex: 1 ;
}
section .sec2 dl dt img {
  width: 12rem;
  height: 12rem;
}
section .sec2 dl dd {
  font-size: 2.8rem;
  margin-top: 2rem;
}
