html,body{
	background-color: #efeff4;
}
.z-infor{
	width: 100%;
	height: 17.2rem;
	background-color: white;
	margin-top: 9.0rem;
}
.z-infor li:nth-child(1),.z-people li:nth-child(1){
	width:50%;
	height: 8.2rem;
	/*border: 1px solid blue;*/
	font-size: 2.6rem;
	color:#333;
	margin-left: 4.0%;
	line-height: 8.2rem;
}
.z-pape,.z-pape1{
	display: inline-block;
	width: 18.5rem;
	height: 6.7rem;
	border: 1px solid #999;
	color: #999;
	font-size: 2.6rem;
	text-align: center;
	line-height: 6.7rem;
	border-radius: 1.0rem;
}
.z-pape{
	margin-left: 4%;
}
.z-pape1{
	margin-left: 2%;
}
.z-people{
	width: 100%;
	height: 15.2rem;
	background-color: #fff;
	margin-top: 1.5rem;
}
.z-people li:nth-child(1){
	height:7.8rem !important;
}
.z-pec,.z-pec1{
	display: inline-block;
	width: 4.4rem;
	height: 4.4rem;
	border: 1px solid #999999;
	border-radius: 100%;
	margin-left: 4%;
}
.z-people li:nth-child(2) span:nth-child(2),.z-people li:nth-child(2) span:nth-child(4){
	font-size: 2.4rem;
	color: #333;
	position: relative;
	top: -1.5rem;
	left: 2%;
}
.z-recp{
	width: 100%;
	height: 21.2rem;
	background-color: #FFF;
	margin-top: 1.5rem;
}
.z-recp li:nth-child(1){
	width: 95.9%;
	border-bottom: 1px solid #efeff4;
	font-size: 2.4rem;
	padding: 4.0rem 0 2.0rem 0;
	margin-left: 4%;
}
.z-recp li:nth-child(2),.z-recp li:nth-child(3){
	width: 95.9%;
	line-height: 7.0rem;
	border-bottom: 1px solid #efeff4;
	margin-left: 4%;
}
.z-label{
	font-size: 2.4rem;
	color: #333;
	margin-top: 3.0rem;
}
.z-recp li:nth-child(2) input,.z-recp li:nth-child(3) input{
	width: 70%;
	height: 3.0rem;
	/*border: 1px solid red;*/
	font-size: 2.8rem;
	color: #999;
	margin-left: 1.6rem;
	margin-top: -1.0rem;
}
.z-recp li:nth-child(3) input{
	margin-left: 2.1rem;
}
/*.z-typ{
	width: 100%;
	background-color: #fff;
	margin-top: 1.5rem;
}
.z-typ li:nth-child(1){
	width: 95.9%;
	padding: 4.0rem 0 2.0rem 0;
	font-size: 2.6rem;
	border-bottom: 1px solid #efeff4;
	margin-left: 4%;
	color: #333;
}
.z-typ li:nth-child(2){
	font-size: 2.4rem;
	color: #666;
	line-height: 7.0rem;
	margin-left: 4%;
}
.z-typ li:nth-child(3),.z-typ li:nth-child(4),.z-typ li:nth-child(5),.z-typ li:nth-child(6){
	margin-left:4%;
	margin-bottom: 2.0rem;
}
.z-typc{
	display: inline-block;
	width: 4.4rem;
	height: 4.4rem;
	border: 1px solid #b1b1b1;
	border-radius: 100%;
}
.z-typm{
	font-size: 2.4rem;
	color: #333;
	margin-left: 3.5%;
	position: relative;
	top: -1.3rem;
}*/
.z-acco{
	width: 28.2rem;
	height: 8.2rem;
	background-color: #de1800;
	margin: 20.0rem auto 0;
	font-size: 3.8rem;
	color: #fff;
	text-align: center;
	line-height: 8.2rem;
}
.z-pecz{
	width: 100%;
	height: 9.5rem;
	background-color: #fff;
}
.z-peczs {
	width: 90%;
	height:7.0rem;
	/*border: 1px solid red;*/
	margin-left: 4%;
	font-size: 2.2rem;
	background-color: #efeff4;
	padding-left: 2%;
}
.z-papes{
	border: 1px solid #de1800 !important;
	color: #de1800 !important;
}
.z-pecsf{
	background: url("../images/z-301.png")no-repeat;
	background-size: 100% 100%;
}
.z-labele{
	width: 30.0rem;
	height: 15.0rem;
	background: rgba(0,0,0,0.6);
	text-align: center;
	line-height: 15.0rem;
	color: #fff;
	font-size: 3.0rem;
	border-radius: 1.0rem;
	margin: 0 auto;
	display: none;
	
	
}
