.z-refunda{
	width: 92.5%;
	height: 22.8rem;
	background-color: #385987;
	margin: 0 auto;
	border-radius: 1.0rem;
	margin-top: 11.4rem;
}
.z-refunda1,.z-refunda2{
	display: inline-block;
	width: 89.6%;
	height: 11.2rem;
	border-bottom: 1px solid #607a9f;
	line-height: 11.2rem;
	color: #fff;
	font-size: 3.0rem;
	margin-left: 4%;
}
.z-refundb{
	width: 38.5%;
	height: 4.8rem;
	background-color: #ebebeb;
	border-radius: 1.0rem;
	margin: 0 auto;
	font-size: 2.4rem;
	color: #333;
	text-align: center;
	line-height: 4.8rem;
	margin-top: 4.2rem;
}
.z-refundc{
	width:85.6%;
	height: 10.2rem;
	line-height: 10.2rem;
	background-color: #385987;
	margin: 0 auto;
	border-radius: 1.0rem;
	margin-top: 4.2rem;
	font-size: 3.0rem;
	padding-left: 4%;
	color: #fff;
}
