{include file="header.html"}
<script type="text/javascript">
$(function(){
    $('#add_time_from').datepicker({dateFormat: 'yy-mm-dd'});
    $('#add_time_to').datepicker({dateFormat: 'yy-mm-dd'});
});
</script>
<div id="rightTop">
    <p>线下订单</p>
    <ul class="subnav">
        <li><span>{$lang.manage}</span></li>
    </ul>
</div>
<div class="mrightTop">
    <div class="fontl">
        <form method="get">
             <div class="left">
                <input type="hidden" name="app" value="order_offline" />
                <input type="hidden" name="act" value="index" />
                <select class="querySelect" name="field">{html_options options=$search_options selected=$smarty.get.field}
                </select>:<input class="queryInput" type="text" name="search_name" value="{$query.search_name|escape}" />
                <select class="querySelect" name="status">
                    <option value="">{$lang.search_status}</option>
                    {html_options options=$order_status_list selected=$query.status}
                </select>
                 <select class="querySelect" name="payment_id">
                     <option value="">支付方式</option>
                     {html_options options=$order_payment_list selected=$query.payment_id}
                 </select>
                {$lang.add_time_from}:<input class="queryInput2" type="text" value="{$query.add_time_from}" id="add_time_from" name="add_time_from" class="pick_date" />
                {$lang.add_time_to}:<input class="queryInput2" type="text" value="{$query.add_time_to}" id="add_time_to" name="add_time_to" class="pick_date" />
                {$lang.order_amount_from}:<input class="queryInput2" type="text" value="{$query.order_amount_from}" name="order_amount_from" />
                {$lang.order_amount_to}:<input class="queryInput2" type="text" style="width:60px;" value="{$query.order_amount_to}" name="order_amount_to" class="pick_date" />
                积分从:<input class="queryInput2" type="text" value="{$query.point_from}" name="point_from" />
                至:<input class="queryInput2" type="text" style="width:60px;" value="{$query.point_to}" name="point_to" class="pick_date" />
                <input type="submit" class="formbtn" value="{$lang.query}" onclick="$('[name=act]').val('index');"/>
                <input type="submit" class="formbtn" value="导出" onclick="$('[name=act]').val('export');" />
            </div>
            <!--{if $filtered}-->
            <a class="left formbtn1" href="index.php?app=order_offline">{$lang.cancel_query}</a>
            <!--{/if}-->
        </form>
    </div>
    <div class="fontr">
        {if $orders}{include file=page.top.html}{/if}
    </div>
</div>
<div class="tdare">
    <table width="100%" cellspacing="0" class="dataTable">
        <!--{if $orders}-->
        <tr class="tatr1">
            <td width="10%" class="firstCell"><span ectype="order_by" fieldname="seller_id">{$lang.store_name}</span></td>
            <td width="8%">所属区域</td>
            <td width="8%">商户手机</td>
            <td width="10%"><span ectype="order_by" fieldname="order_sn">{$lang.order_sn}</span></td>
            <td width="8%"><span ectype="order_by" fieldname="add_time">{$lang.add_time}</span></td>
            <td width="8%"><span ectype="order_by" fieldname="check_time">审核时间</span></td>
            <td width="6%"><span ectype="order_by" fieldname="buyer_name">{$lang.buyer_name}</span></td>
            <td width="6%">买家手机</td>
            <td width="8%"><span ectype="order_by" fieldname="buyer_name">买家区域</span></td>
            <td width="5%"><span ectype="order_by" fieldname="order_amount">{$lang.order_amount}</span></td>
            <td width="3%"><span ectype="order_by" fieldname="point">{$lang.point}</span></td>
            <td width="5%">商家赠送</td>
            <td width="5%">平台赠送</td>
            <td width="6%">{$lang.payment_name}</td>
            <td width="8%"><span ectype="order_by" fieldname="status">{$lang.status}</span></td>
            <!--<td width="10%">{$lang.handler}</td>-->
        </tr>
        <!--{/if}-->
        <!--{foreach from=$orders item=order}-->
        <tr class="tatr2">
            <td class="firstCell">{$order.seller_name|escape}</td>
            <td>{$order.region_name}</td>
            <td>{$order.user_name}</td>
            <td>{$order.order_sn}</td>
            <td>{$order.add_time}</td>
            <td>{$order.check_time}</td>
            <td>{$order.buyer_name|escape}</td>
            <td>{$order.buyer_mobile}</td>
            <td>{$order.buyer_address}</td>
            <td>{$order.order_amount|price}</td>
            <td>{$order.point}</td>
            <td>{$order.s_point}</td>
            <td>{$order.p_point}</td>
            <td>{$order.pay_style|escape|default:-}</td>
            <td>{$order.status|modifier:order_status}</td>
            <!--<td><a href="index.php?app=order&amp;act=view&amp;id={$order.order_id}">{$lang.view}</a></td>-->
        </tr>
        <!--{foreachelse}-->        
        <tr class="no_data">
            <td colspan="7">{$lang.no_data}</td>
        </tr>
        <!--{/foreach}-->
        <tr>
            <td colspan="9" style="text-align:right;">合计：</td>
            <td colspan="5" style="text-align:left;padding-left:10px;">{$total_amount}</td>

        </tr>
    </table>
    <div id="dataFuncs">
        <div class="pageLinks">
            {if $orders}{include file=page.bottom.html}{/if}
        </div>
    </div>
    <div class="clear"></div>
</div>
{include file="footer.html"}
