{include file="header.html"}
<script type="text/javascript">
    $(function(){
        $('#add_time_from').datepicker({dateFormat: 'yy-mm-dd'});
        $('#add_time_to').datepicker({dateFormat: 'yy-mm-dd'});
    });
</script>
<div id="rightTop">
    <p><strong>支付记录管理</strong></p>
</div>
<div class="mrightTop">
    <div class="fontl">
        <form method="get">
            <div class="left">
                <input type="hidden" name="app" value="payment_log" />
                <input type="hidden" name="act" value="index" />
                <select class="querySelect" name="field">{html_options options=$search_options selected=$smarty.get.field}
                </select>:<input class="queryInput" type="text" name="search_name" value="{$query.search_name|escape}" />
                <select class="querySelect" name="payment_id">
                    <option value="">选择购买方式</option>
                    {html_options options=$order_status_list selected=$query.payment_id}
                </select>
                {$lang.add_time_from}:<input class="queryInput2" type="text" value="{$query.add_time_from}" id="add_time_from" name="add_time_from" class="pick_date" />
                {$lang.add_time_to}:<input class="queryInput2" type="text" value="{$query.add_time_to}" id="add_time_to" name="add_time_to" class="pick_date" />
                {$lang.order_amount_from}:<input class="queryInput2" type="text" value="{$query.order_amount_from}" name="order_amount_from" />
                {$lang.order_amount_to}:<input class="queryInput2" type="text" style="width:60px;" value="{$query.order_amount_to}" name="order_amount_to" class="pick_date" />
                <select class="querySelect" name="province" data-next="city" onchange="changeArea(this,this.value)">
                    <option value="">请选择省份</option>
                    {html_options options=$provinceList selected=$query.province}
                </select>
                <select class="querySelect" id="city" name="city" data-next="area" onchange="changeArea(this,this.value)">
                    <option value="">请选择城市</option>
                    {html_options options=$cityList selected=$query.city}
                </select>
                <select class="querySelect" id="area" name="area" data-next="" onchange="changeArea(this,this.value)">
                    <option value="">请选择县区</option>
                    {html_options options=$areaList selected=$query.area}
                </select>
                <input type="submit" class="formbtn" value="{$lang.query}" onclick="$('[name=act]').val('index');"/>
                <input type="submit" class="formbtn" value="导出" onclick="$('[name=act]').val('export');" />
            </div>
            <!--{if $filtered}-->
            <a class="left formbtn1" href="index.php?app=payment_log">{$lang.cancel_query}</a>
            <!--{/if}-->
        </form>
    </div>
    <div class="fontr">
        {if $orders}{include file=page.top.html}{/if}
    </div>
</div>
<div class="tdare info">
    <table width="100%" cellspacing="0" class="dataTable">
        <tr class="tatr1">
            <td class="firstCell">序号</td>
            <td>店铺名</td>
            <td>真实姓名</td>
            <td>手机号</td>
            <td>所属区域</td>
            <td>订单号</td>
            <td><span ectype="order_by" fieldname="money">购买积分数</span></td>
            <td><span ectype="order_by" fieldname="payment_id">购买方式</span></td>
            <td width="6%"><span ectype="order_by" fieldname="add_time">购买时间</span></td>

        </tr>
        <!--{foreach from=$paylist item=payment}-->
        <tr class="tatr2">
            <td class="firstCell">{$payment.id}</td>
            <td>{$payment.store_name}</td>
            <td>{$payment.user_name}</td>
            <td>{$payment.user_mob}</td>
            <td>{$payment.region_name}</td>
            <td><span class="padding1">{$payment.order_sn}</span></td>
            <td>{$payment.money}</td>
            <td>{$payment.type_cn}</td>
            <td><span class="padding1">{$payment.add_time}</span></td>
        </tr>
        <!--{foreachelse}-->
        <tr class="no_data">
            <td colspan="7">没有记录</td>
        </tr>
        <!--{/foreach}-->
        <!--{if $payment}-->
        <tr class="tatr2">
            <td colspan="3" style="text-align:right;">合计:</td>
            <td>{$totalMoney}</td>
        </tr>
        <tr class="tatr2">
            <td colspan="6" style="text-align:right;">
                {$mypage}
            </td>
        </tr>
        <!--{/if}-->
    </table>
</div>
<script>
    function changeArea(obj,pid){
        var next = $(obj).attr('data-next');
        if(next != ''){
            getAreaChild(next,pid);
        }
    }
    function getAreaChild(next,pid){
        $.ajax({
            url : 'index.php?app=user&act=getarea',
            type : 'POST',
            dataType : 'JSON',
            data:{'pid':pid},
            success : function(res){
                res = JSON.parse(res);
                if(res.status == 0){
                    str = next == 'city' ? '请选择城市' : '请选择县区';
                    html = '<option value="">'+str+'</option>';
                    $("#"+next).html();
                    for(var i in res.data){
                        html += '<option value="'+res.data[i].id+'">'+res.data[i].name+'</option>';
                    }
                    $("#"+next).html(html);
                }
            }
        });
    }
</script>
{include file="footer.html"}
